.MapPopup {
  [class*="leaflet-popup-content-wrapper"] {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
  }

  [class*="leaflet-popup-content"] {
    color: #0089a5;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.8rem 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      width: 4rem;
      height: 4rem;
      background: #15c3d6;
      box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
      border-radius: 0.8rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  [class*="leaflet-popup-tip-container"] {
    display: none;
  }
}